@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body, #root, main{
  min-height: 100vh;
}

:root{
  --white: #fff;
  --text: #424242;
  --text-light: #878787;
  --gray: #C9CACC;
  --red:#EB1717;
  --green: #41522E;
  --bg-gray: #E5E5E5;
}
